{% extends "base/_base.html" %}

{% block title %}Buscar Veículo{% endblock %}

{% block content %}
<h1>Buscar Veículo</h1>

<form method="get" action="">
    <label for="placa">Buscar por Placa:</label>
    <input type="text" name="placa" id="placa" placeholder="Digite a placa">
    <button type="submit">Buscar</button>
</form>

{% if veiculos %}
    <ul>
        {% for veiculo in veiculos %}
            <li>
                <strong>Placa:</strong> {{ veiculo.placa }} <br>
                <strong>Modelo:</strong> {{ veiculo.modelo }} <br>
                <strong>Cliente:</strong> {{ veiculo.cliente.nome }} <br>
                <strong>CPF:</strong> {{ veiculo.cliente.cpf }} <br>
                <strong>Email:</strong> {{ veiculo.cliente.email }} <br>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum veículo encontrado.</p>
{% endif %}
    <h1> veiculos em servicos </h1>
    <ul>
        {% for veiculo in veiculos_em_servicos %}
            <li>
                <strong>Placa:</strong> {{ veiculo.placa }} <br>
                <strong>Modelo:</strong> {{ veiculo.modelo }} <br>
                <strong>Cliente:</strong> {{ veiculo.cliente.nome }} <br>
                <strong>CPF:</strong> {{ veiculo.cliente.cpf }} <br>
                <strong>Telefone:</strong> {{ veiculo.cliente.telefone }} <br>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
